@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.inputContainer {
  @include flexbox.flexbox;
  margin-top: 15px;
}

.movieListSection {
  @include flexbox.flexbox;
  flex-direction: column;
  margin-top: 15px;

  li {
    width: 700px;
    height: 200px;
    margin-top: 15px;
  }
}

.errorMessage {
  margin-top: 40px;
  font-size: 18px;
  color: colors.$WHITE;
}
